{% load static %}
<!DOCTYPE html>
<html lang="pt-BR" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>BET365Easy || Gestão de Tips para Tipsters Inteligentes</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'site/assets/img/favicons/favicon.png' %}">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="stylesheet" crossorigin="anonymous"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
          integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==">
    <link href="{% static 'site/assets/css/theme.css' %}" rel="stylesheet"/>

    <link href="{% static 'site/vendors/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
</head>


<body>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <nav class="navbar navbar-light sticky-top" style="background: #000;" data-navbar-darken-on-scroll="900">
        <div class="container pt-2"><a class="navbar-brand" href="/"> <img
                src="{% static 'logo-transparent.png' %}" height="60"></a>
            <div class="navbar-nav ms-auto">
                <button class="btn btn-success fw-bold">LOGIN</button>
            </div>
        </div>
    </nav>


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="mt-6">

        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-9 col-xl-2 d-none d-xl-block">
                    <img src="{% static 'logo-transparent.png' %}" width="100%">
                </div>
                <div class="col-md-9 col-lg-8 col-xl-4">
                    <h1 class="lh-sm display-4">BET365EASY</h1>
                    <h3>Gestão profissional de tips para tipsters</h3>
                </div>
                <div class="col-md-9 col-xl-6">
                <iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/kFhReu4gLUA?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section>
        <div class="container-lg">
            <div class="row flex-center">
                <div class="col-sm-9 col-md-4">
                    <div class="py-5 px-4 px-md-3 px-lg-4 rounded-1 bg-800 plans-cards mt-md-9">
                        <p class="fs-2 ls-2">TIPSTER Start / gratuito</p>
                        <h1 class="display-4 ls-3"><span class="text-600"></span>0</h1>
                        <ul class="mt-5 ps-0">
                            <li class="pricing-lists"><i class="fas fa-check-circle fa-lg me-2 text-600"></i>Até 5 tips
                                por dia
                            </li>
                            <li class="pricing-lists"><i class="fas fa-check-circle fa-lg me-2 text-600"></i>1
                                grupo/canal Telegram
                            </li>
                            <li class="pricing-lists"><i class="fas fa-check-circle fa-lg me-2 text-600"></i>Dsipositivos:
                                Windows
                            </li>
                            <li class="pricing-lists"><i class="fas fa-check-circle fa-lg me-2 text-600"></i>Casas:
                                BET365
                            </li>
                            <li class="pricing-lists"><i class="fas fa-check-circle fa-lg me-2 text-600"></i>Link da
                                partida
                            </li>
                        </ul>
                        <a class="btn btn-success fw-bold mt-4" href="https://t.me/suportebet365easy" target="_blank">COMEÇAR <span class="fas fa-arrow-right"></span></a>
                    </div>
                </div>
                <div class="col-sm-9 col-md-4 mt-3">
                    <div class="py-5 px-4 px-md-3 px-lg-4 rounded-1 bg-800 plans-cards mt-0">
                        <p class="fs-2 ls-2">TIPSTER Essencial / mensal</p>
                        <h1 class="display-4 ls-3"><span class="text-600"></span>297</h1>
                        <ul class="mt-5 ps-0">
                            <li class="pricing-lists"><i class="fas fa-check-circle fa-lg me-2 text-600"></i>Tips
                                Ilimitadas
                            </li>
                            <li class="pricing-lists"><i class="fas fa-check-circle fa-lg me-2 text-600"></i>1
                                grupo/canal Telegram
                            </li>
                            <li class="pricing-lists"><i class="fas fa-check-circle fa-lg me-2 text-600"></i>Mensagens
                                customizadas
                            </li>
                            <li class="pricing-lists"><i class="fas fa-check-circle fa-lg me-2 text-600"></i>Casas:
                                BET365, BETANO
                            </li>
                            <li class="pricing-lists"><i class="fas fa-check-circle fa-lg me-2 text-600"></i>Dispositivos:
                                Windows, MacOS, Android, IOS
                            </li>
                            <li class="pricing-lists"><i class="fas fa-check-circle fa-lg me-2 text-600"></i>Suporte
                                horário comercial
                            </li>
                            <li class="pricing-lists"><i class="fas fa-check-circle fa-lg me-2 text-600"></i>Link
                                caderneta aposta única
                            </li>
                            <li class="pricing-lists"><i class="fas fa-check-circle fa-lg me-2 text-600"></i>Link
                                caderneta aposta múltipla
                            </li>
                            <li class="pricing-lists"><i class="fas fa-check-circle fa-lg me-2 text-600"></i>Link criar
                                aposta da partida
                            </li>
                            <li class="pricing-lists"><i class="fas fa-check-circle fa-lg me-2 text-600"></i>Link da
                                partida
                            </li>
                        </ul>
                        <a class="btn btn-success fw-bold mt-4" href="https://t.me/suportebet365easy" target="_blank">COMEÇAR <span class="fas fa-arrow-right"></span></a>
                    </div>
                </div>
                <div class="col-sm-9 col-md-4 mt-3">
                    <div class="py-5 px-4 px-md-3 px-lg-4 rounded-1 bg-800 plans-cards mt-md-9">
                        <p class="fs-2 ls-2">TIPSTER Pro / mensal</p>
                        <h1 class="display-4 ls-3"><span class="text-600"></span>549</h1>
                        <ul class="mt-5 ps-0">
                            <li class="pricing-lists"><i class="fas fa-check-circle fa-lg me-2 text-600"></i>Tips
                                Ilimitadas
                            </li>
                            <li class="pricing-lists"><i class="fas fa-check-circle fa-lg me-2 text-600"></i>1
                                grupo/canal Telegram
                            </li>
                            <li class="pricing-lists"><i class="fas fa-check-circle fa-lg me-2 text-600"></i>Mensagens
                                customizadas
                            </li>
                            <li class="pricing-lists"><i class="fas fa-check-circle fa-lg me-2 text-600"></i>Casas:
                                BET365, BETANO
                            </li>
                            <li class="pricing-lists"><i class="fas fa-check-circle fa-lg me-2 text-600"></i>Dispositivos:
                                Windows, MacOS, Android, IOS
                            </li>
                            <li class="pricing-lists"><i class="fas fa-check-circle fa-lg me-2 text-600"></i>Planilha
                                das tips para seus clientes
                            </li>
                            <li class="pricing-lists"><i class="fas fa-check-circle fa-lg me-2 text-600"></i>Relatórios
                            </li>
                            <li class="pricing-lists"><i class="fas fa-check-circle fa-lg me-2 text-600"></i>Suporte
                                horário comercial
                            </li>
                            <li class="pricing-lists"><i class="fas fa-check-circle fa-lg me-2 text-600"></i>Link
                                caderneta aposta única
                            </li>
                            <li class="pricing-lists"><i class="fas fa-check-circle fa-lg me-2 text-600"></i>Link
                                caderneta aposta múltipla
                            </li>
                            <li class="pricing-lists"><i class="fas fa-check-circle fa-lg me-2 text-600"></i>Link criar
                                aposta da partida
                            </li>
                            <li class="pricing-lists"><i class="fas fa-check-circle fa-lg me-2 text-600"></i>Link da
                                partida
                            </li>
                        </ul>
                        <a class="btn btn-success fw-bold mt-4" href="https://t.me/suportebet365easy" target="_blank">COMEÇAR <span class="fas fa-arrow-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->
</main>
</body>

</html>
