<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BET365Easy</title>
</head>
<body>
<span>javascript:var script = document.createElement('script'); script.src = 'https://bet365easy.com/static/v0.1.js'; document.body.appendChild(script); var style = document.createElement('link'); style.rel = 'stylesheet'; style.href = 'https://bet365easy.com/static/v0.1.css'; document.head.appendChild(style);</span>
</body>
</html>